---
tags: main
layout: default
title: Greg Yut
eleventyNavigation:
  key: Home
  order: 1
---

<div class="w-full bg-white">

  <div class="py-6">
    <h1 class="text-xl md:text-4xl pb-4">Articles</h1>
  </div>

  <div class="prose container max-w-4xl mx-auto md:flex items-start py-8 px-12 md:px-0">

    <div class="w-full md:pr-12 mb-12">
      <article class="mb-12">
	<h2 class="mb-4">
	  <a href="#" class="text-black text-xl md:text-2xl no-underline hover:underline">
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	  </a>
	</h2>

	<div class="mb-4 text-sm text-gray-700">
	  by <a href="#" class="text-gray-700">Joe Bloggs</a> on 19th March 2019
	  <span class="font-bold mx-1"> | </span>
	  <a href="#" class="text-gray-700">Uncategorised</a>
	  <span class="font-bold mx-1"> | </span>
	  <a href="#" class="text-gray-700">2 Comments</a>
	</div>

	<p class="text-gray-700 leading-normal">
	  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>

      </article>

      <article class="mb-12">
	<h2 class="mb-4">
	  <a href="#" class="text-black text-xl md:text-2xl no-underline hover:underline">
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	  </a>
	</h2>

	<div class="mb-4 text-sm text-gray-700">
	  by <a href="#" class="text-gray-700">Joe Bloggs</a> on 19th March 2019
	  <span class="font-bold mx-1"> | </span>
	  <a href="#" class="text-gray-700">Uncategorised</a>
	  <span class="font-bold mx-1"> | </span>
	  <a href="#" class="text-gray-700">2 Comments</a>
	</div>

	<p class="text-gray-700 leading-normal">
	  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>

      </article>

      <article class="mb-12">
	<h2 class="mb-4">
	  <a href="#" class="text-black text-xl md:text-2xl no-underline hover:underline">
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	  </a>
	</h2>

	<div class="mb-4 text-sm text-gray-700">
	  by <a href="#" class="text-gray-700">Joe Bloggs</a> on 19th March 2019
	  <span class="font-bold mx-1"> | </span>
	  <a href="#" class="text-gray-700">Uncategorised</a>
	  <span class="font-bold mx-1"> | </span>
	  <a href="#" class="text-gray-700">2 Comments</a>
	</div>

	<p class="text-gray-700 leading-normal">
	  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>

      </article>

      <article class="mb-12">
	<h2 class="mb-4">
	  <a href="#" class="text-black text-xl md:text-2xl no-underline hover:underline">
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	  </a>
	</h2>

	<div class="mb-4 text-sm text-gray-700">
	  by <a href="#" class="text-gray-700">Joe Bloggs</a> on 19th March 2019
	  <span class="font-bold mx-1"> | </span>
	  <a href="#" class="text-gray-700">Uncategorised</a>
	  <span class="font-bold mx-1"> | </span>
	  <a href="#" class="text-gray-700">2 Comments</a>
	</div>

	<p class="text-gray-700 leading-normal">
	  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>

      </article>

      <div class="flex justify-between text-xs">
	<a href="#" class="bg-gray text-white no-underline py-2 px-3 rounded">Previous</a>
	<a href="#" class="bg-black text-white no-underline py-2 px-3 rounded">Next</a>
      </div>
    </div>

    <div class="w-full md:w-64">

      <aside class="rounded shadow overflow-hidden mb-6">
	<h3 class="text-sm bg-gray-100 text-gray-700 py-3 px-4 border-b">Categories</h3>

	<div class="p-4">
	  <ul class="list-reset leading-normal">
	    <li><a href="#" class="text-gray-darkest text-sm">Uncategorised</a></li>
	    <li><a href="#" class="text-gray-darkest text-sm">Food &amp; Drink</a></li>
	    <li><a href="#" class="text-gray-darkest text-sm">Garden</a></li>
	    <li><a href="#" class="text-gray-darkest text-sm">Tools</a></li>
	  </ul>
	</div>
      </aside>

    </div>
  </div>
</div>
