---
layout: default
title: Test Turbo Frames
---

<turbo-frame id="test-turbo-frames">
  <div class="mt-4">
    <a
      class="bg-blue-400 hover:bg-blue-500 text-md text-white py-1 px-2 rounded-full"
      href="/hotwire/">
      Back to Hotwire
    </a>
    <p class="mt-2 text-md font-medium text-slate-800">The Turbo Frame has updated!</p>
  </div>
</turbo-frame>
