---
layout: default
title: Test Turbo Drive
---

<h1 class="m-4 font-medium text-slate-800 text-2xl">Test Turbo Drive</h1>
<div class="flex flex-wrap justify-center gap-2">
  <div class="mx-4 mb-8 p-6 border border-indigo-200 rounded-lg shadow-md w-96">

    <h2 class="mb-4 text-xl font-medium text-slate-800">Test Turbo Drive</h2>
    <p>
      This is a fresh page, reach via Hotwire's Turbo Drive.
    </p>

    <div class="mt-4">
      <a
        class="bg-blue-400 hover:bg-blue-500 text-md text-white py-1 px-2 rounded-full"
        href="/hotwire/">
        Back to Hotwire
      </a>
    </div>

  </div>
</div>
