<footer class="mt-8 py-8 text-center bg-slate-100 text-gray-500">
  <p class="text-xl font-bold">Powered by Clean Energy</p>
  <p class="font-mono">{{helper.copyright(2010) | safe }}</p>
  <p class="font-mono text-sm">Built at: {{helper.built_at | safe }} CST</p>
  <p class="font-mono text-sm mt-2 text-indigo-400">
    Source available on
    <a href="https://github.com/yut/eleventy" class="underline">GitHub</a>
  </p>
</footer>
